@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>Gå til <a href="BookingPages/">Booking systemet</a></p>
</div>
